.inline {
    display: inline;
    background-color: red;
}   
.block {
    display: block;
    width: 100px;
    height: 100px;
}
.inline-block {
    display: inline-block;
    width: 100px;
    height:100px;
}